.todo-list ul { margin: 0; }

todo-list { padding: 1em 0; }

todo-list li {
    cursor: pointer;
    color: #666;
    list-style: none;
    padding: .5em 0;
    border-bottom: 1px solid #eee;
}

todo-list li:before {
    content: '';
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #eee;
    margin-right: 1em;
    width: 1em;
    height: 1em;
    float: left;
    margin-top: 4px;
    line-height: 1em;
    text-align: center;
}

todo-list li.done {
    text-decoration: line-through;
}

todo-list li.done:before {
    background-color: #eee;
    content: "✓";
}