.article-title-box
  &.type-js
    background-color: #333
    color: #eee

  &.type-youtube
    background-color: #ee3333
    color: #f3f3f3

  &.type-angular
    background-color: #97362c
    color: #eee

  &.type-random
    background-color: #6d9f43
    color: white